@{
    Layout = "_Layout.cshtml";
}

<h1 class="page-header">Now it's your turn!</h1>
<h3 class="sub-header">We've prepared a bit, but it's hacky, beware!</h3>

<h3>What you've got:</h3>
<ul class="list-group">
    <li class="list-group-item">A NancyModule that already delivers a view, it's called CrudModule. You can reach it from the left navbars link "Your CRUD!?"</li>
    <li class="list-group-item">A fake repository you could inject in the CrudModule</li>
</ul>

<h3>What you'll need:</h3>
<ul class="list-group">
    <li class="list-group-item">Views for all the CRUD operations, preferably under a subfolder of "Views"?</li>
    <li class="list-group-item">A fake repository, you could inject in the CrudModule...</li>
    <li class="list-group-item">Connect the prepared methods from the module with the "ICrudRepository"</li>
</ul>
